@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto Slab', serif;
    background-color: black;
}

#one{
    border: solid 4px lightgray;
    width: 13%;
    margin: 4px;
    text-align: center;
}
h2{
    font-size: 18px;
}
.img{
    width: 95%;
}
#color{
    background-color: gray;
}
#ee{
    text-align: center;
}
#cont{
    display: flex;
}
@media only screen and (max-width:600px){
    body{
        text-align: center;
    }
    .cont{
        justify-content: center;
    }
}